{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
	$( document ).ready(function() {
 	
	$('.bxslider_1').bxSlider({
	  pagerCustom: '.bx-pager_1'
	});	

});
</script>

<div class="main_image_wrapper">

	{% include 'component/header.twig' %}
	<div class="detail_main_image k4">
		<h2>配管五金</h2>
	</div>

</div>

<div class="detail">

	{% include 'component/aside.twig' %}


	<div class="detail_content">
		<div class="mainphoto">
			<ul class="bxslider_1">
			  <li><img src="img/img_slider/a/a_01.jpg" /></li>
			  <li><img src="img/img_slider/a/a_02.jpg" /></li>
			  <li><img src="img/img_slider/a/a_03.jpg" /></li>
			  <li><img src="img/img_slider/a/a_04.jpg" /></li>
			  <li><img src="img/img_slider/a/a_05.jpg" /></li>
			  <li><img src="img/img_slider/a/a_06.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_1 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/a/small_a_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/a/small_a_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/a/small_a_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/a/small_a_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/a/small_a_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/a/small_a_06.jpg" /></a>
		</div>
		

		<div class="clear" style="height: 50px"></div>

		<!-- <h6>管材</h6> -->
		<p>
			1995年自來水用PVC管CNS國家標準規定鉛溶出量標準為0.1ppm以下，本公司本著善盡社會責任，不顧成本增加，率先將配方由鉛系改為錫系，PVC管的鉛溶出量要求在0.005ppm以下，遠比CNS國家標準更為嚴格，提供優質自來水用PVC管材予廣泛消費大眾使用，提高生活品質。從而帶動業界跟進，三年後CNS國家標準於1998年修訂自來水用PVC管之鉛溶出量為0.008ppm以下，符合先進國家生活品質。	</p>
		<p>
			材工廠1980年建廠初期，月產能5500噸，1995年管材配方由鉛系改為錫系，1997年管材月產能提高至19,042噸。亦積極開發特殊管材持續拓展應用範圍，例如適用於電子業廠房的美規UPVC管;溫泉及高溫流體使用的耐熱CPVC管；因應台灣地區地震頻繁的耐衝擊管等新產品。硬管工廠於2016年開始建置虛擬實體整合系統，製程皆納入自動化監控，透過數據分析、持續研發提高管材品質。管材測試實驗室亦於2017年通過TAF國家實驗室認證，建置具工業4.0之智慧工廠，提供客戶最優質的產品與服務。</p>

	</div>


</div>








<div class="footer_wrapper">
	<div class="footer_info">
		<div class="kklab_logo">
			<img src="img/logo-w.png" alt="">
		</div>
		<div class="add">
			<h6>東芫配管股份有限公司</h6>
			<div class="l-l"></div>
		
			<p>TEL: 03-3791111</p>
			<p>FAX: 03-360644</p>
			<p>Email: tyeastsource@gmail.com</p>
			<p>桃園市桃園區文中二路55號</p>
			
		</div>
	
	</div>
</div>
<footer>Copyright © 2020 EAST source All Rights Reserved.</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}