{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
	$( document ).ready(function() {
 	
	$('.bxslider_1').bxSlider({
	  pagerCustom: '.bx-pager_1'
	});	

});
</script>

<div class="main_image_wrapper">

	{% include 'component/header.twig' %}
	<div class="detail_main_image k3">
		<h2>配管五金</h2>
	</div>

</div>

<div class="detail">

	{% include 'component/aside.twig' %}


	<div class="detail_content">
		<div class="mainphoto">
			<ul class="bxslider_1">
			  <li><img src="img/img_slider/d/d_01.jpg" /></li>
			  <li><img src="img/img_slider/d/d_02.jpg" /></li>
			  <li><img src="img/img_slider/d/d_03.jpg" /></li>
			  <li><img src="img/img_slider/d/d_04.jpg" /></li>
			  <li><img src="img/img_slider/d/d_05.jpg" /></li>
			  <li><img src="img/img_slider/d/d_06.jpg" /></li>
			  <li><img src="img/img_slider/d/d_07.jpg" /></li>
			  <li><img src="img/img_slider/d/d_08.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_1 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/d/small_d_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/d/small_d_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/d/small_d_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/d/small_d_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/d/small_d_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/d/small_d_06.jpg" /></a>
		  <a data-slide-index="6" href=""><img src="img/img_slider/d/small_d_07.jpg" /></a>
		  <a data-slide-index="7" href=""><img src="img/img_slider/d/small_d_08.jpg" /></a>
		</div>
		

		<div class="clear" style="height: 50px"></div>

		<!-- <h6>管材</h6> -->
		<p>
			配管五金：止洩帶、止水帶、手套、AB膠、管膠、焊條、配管工具等...	</p>
	
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}