{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
	$( document ).ready(function() {
 	
	$('.bxslider_1').bxSlider({
	  pagerCustom: '.bx-pager_1'
	});	

});
</script>

<div class="main_image_wrapper">

	{% include 'component/header.twig' %}
	<div class="detail_main_image k1">
		<h2>管材</h2>
	</div>

</div>

<div class="detail">

	{% include 'component/aside.twig' %}

	<div class="detail_content">
		<div class="mainphoto">
			<ul class="bxslider_1">
			  <li><img src="img/img_slider/a/a_01.jpg" /></li>
			  <li><img src="img/img_slider/a/a_02.jpg" /></li>
			  <li><img src="img/img_slider/a/a_03.jpg" /></li>
			  <li><img src="img/img_slider/a/a_04.jpg" /></li>
			  <li><img src="img/img_slider/a/a_05.jpg" /></li>
			  <li><img src="img/img_slider/a/a_06.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_1 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/a/small_a_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/a/small_a_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/a/small_a_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/a/small_a_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/a/small_a_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/a/small_a_06.jpg" /></a>
		</div>
		
		<div class="clear" style="height: 50px"></div>

		<!-- <h6>管材</h6> -->

		<p>
			各式管材：鍍鋅管6445，4626，EMT管，導線管，角鐵，方管，不銹鋼管，壓接管，PVC，CPVC管等...	
		</p>

	</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}