{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
	$( document ).ready(function() {
 	
	$('.bxslider_1').bxSlider({
	  pagerCustom: '.bx-pager_1'
	});	

	$('.bxslider_2').bxSlider({
	  pagerCustom: '.bx-pager_2'
	});	

	$('.bxslider_3').bxSlider({
	  pagerCustom: '.bx-pager_3'
	});	

	$('.bxslider_4').bxSlider({
	  pagerCustom: '.bx-pager_4'
	});	


	$('.bxslider_5').bxSlider({
	  pagerCustom: '.bx-pager_5'
	});	


});
</script>

<div class="main_image_wrapper">

	{% include 'component/header.twig' %}
	<div class="detail_main_image k4">
		<h2>閥門</h2>
	</div>

</div>

<div class="detail">

	{% include 'component/aside.twig' %}


	<div class="detail_content">

		<!-- slide 1 -->
		<div class="mainphoto">
			<ul class="bxslider_1">
			  <li><img src="img/img_slider/c/1/1_01.jpg" /></li>
			  <li><img src="img/img_slider/c/1/1_02.jpg" /></li>
			  <li><img src="img/img_slider/c/1/1_03.jpg" /></li>
			  <li><img src="img/img_slider/c/1/1_04.jpg" /></li>
			  <li><img src="img/img_slider/c/1/1_05.jpg" /></li>
			  <li><img src="img/img_slider/c/1/1_06.jpg" /></li>
			  <li><img src="img/img_slider/c/1/1_07.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_1 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/c/1/small_1_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/c/1/small_1_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/c/1/small_1_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/c/1/small_1_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/c/1/small_1_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/c/1/small_1_06.jpg" /></a>
		  <a data-slide-index="6" href=""><img src="img/img_slider/c/1/small_1_07.jpg" /></a>
		</div>
		<div class="clear" style="height: 20px"></div>
		<p>
			東光，富山凡而系列	
		</p>
		<div class="clear" style="height: 50px"></div>
		

		<!-- slide 2 -->
		<div class="mainphoto">
			<ul class="bxslider_2">
			  <li><img src="img/img_slider/c/2/2_01.jpg" /></li>
			  <li><img src="img/img_slider/c/2/2_02.jpg" /></li>
			  <li><img src="img/img_slider/c/2/2_03.jpg" /></li>
			  <li><img src="img/img_slider/c/2/2_04.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_2 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/c/2/small_2_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/c/2/small_2_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/c/2/small_2_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/c/2/small_2_04.jpg" /></a>
		</div>
		<div class="clear" style="height: 20px"></div>
		<p>
			氣動閥	
		</p>
		<div class="clear" style="height: 50px"></div>


		<!-- slide 3 -->
		<div class="mainphoto">
			<ul class="bxslider_3">
			  <li><img src="img/img_slider/c/3/3_01.jpg" /></li>
			  <li><img src="img/img_slider/c/3/3_02.jpg" /></li>
			 
		
			</ul>
		</div>
		<div class="bx-pager_3 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/c/3/small_3_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/c/3/small_3_02.jpg" /></a>
		 
		</div>
		<div class="clear" style="height: 20px"></div>
		<p>
			球塞閥-ISO5211高平台，球塞閥	
		</p>
		<div class="clear" style="height: 50px"></div>


		<!-- slide 4 -->
		<div class="mainphoto">
			<ul class="bxslider_4">
			  <li><img src="img/img_slider/c/4/4_01.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_02.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_03.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_04.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_05.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_06.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_07.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_08.jpg" /></li>
			  <li><img src="img/img_slider/c/4/4_09.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_4 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/c/4/small_4_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/c/4/small_4_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/c/4/small_4_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/c/4/small_4_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/c/4/small_4_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/c/4/small_4_06.jpg" /></a>
		  <a data-slide-index="6" href=""><img src="img/img_slider/c/4/small_4_07.jpg" /></a>
		  <a data-slide-index="7" href=""><img src="img/img_slider/c/4/small_4_08.jpg" /></a>
		  <a data-slide-index="8" href=""><img src="img/img_slider/c/4/small_4_09.jpg" /></a>
		</div>
		<div class="clear" style="height: 20px"></div>
		<p>
			波紋管球型閥，手動閥-替換ARI，KSB波紋管球型閥，手動閥-替換ARI，KSB倒桶式疏水閥，浮球式疏水閥，電動球型閥-替換ARI，電動球型閥-替換ARI，KSB浮球式疏水閥-替換斯派莎克-Spirax Sarco，圓盤式疏水閥，蒸氣凡而-金口。
		</p>
		<div class="clear" style="height: 50px"></div>




		<!-- slide 5 -->
		<div class="mainphoto">
			<ul class="bxslider_5">
			  <li><img src="img/img_slider/c/5/5_01.jpg" /></li>
			  <li><img src="img/img_slider/c/5/5_02.jpg" /></li>
			  <li><img src="img/img_slider/c/5/5_03.jpg" /></li>
			  <li><img src="img/img_slider/c/5/5_04.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_5 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/c/5/small_5_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/c/5/small_5_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/c/5/small_5_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/c/5/small_5_04.jpg" /></a>
		</div>
		<div class="clear" style="height: 20px"></div>
		<p>
			氣動閥、UNI-D電磁閥、Y型過濾器、Y型過濾器、替換ARI、KSB
		</p>
		<div class="clear" style="height: 50px"></div>












	</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}