{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
	$( document ).ready(function() {
 	
	$('.bxslider_1').bxSlider({
	  pagerCustom: '.bx-pager_1'
	});	

});
</script>

<div class="main_image_wrapper">

	{% include 'component/header.twig' %}
	<div class="detail_main_image k3">
		<h2>閥門</h2>
	</div>

</div>

<div class="detail">

	{% include 'component/aside.twig' %}


	<div class="detail_content">
		<div class="mainphoto">
			<ul class="bxslider_1">
			  <li><img src="img/img_slider/c/c_01.jpg" /></li>
			  <li><img src="img/img_slider/c/c_02.jpg" /></li>
			  <li><img src="img/img_slider/c/c_03.jpg" /></li>
			  <li><img src="img/img_slider/c/c_04.jpg" /></li>
			  <li><img src="img/img_slider/c/c_05.jpg" /></li>
			  <li><img src="img/img_slider/c/c_06.jpg" /></li>
			  <li><img src="img/img_slider/c/c_07.jpg" /></li>
			  <li><img src="img/img_slider/c/c_08.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_1 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/c/small_c_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/c/small_c_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/c/small_c_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/c/small_c_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/c/small_c_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/c/small_c_06.jpg" /></a>
		  <a data-slide-index="6" href=""><img src="img/img_slider/c/small_c_07.jpg" /></a>
		  <a data-slide-index="7" href=""><img src="img/img_slider/c/small_c_08.jpg" /></a>
		</div>
		

		<div class="clear" style="height: 50px"></div>

		<!-- <h6>管材</h6> -->
		<p>
			閥門：東光凡而、富山凡而、球塞閥、逆止閥、閘閥、球型閥、蝶閥、過濾器、蒸氣閥、減壓閥、電磁閥、安全閥、控制閥、隔膜閥、氣動閥、電動閥等...	</p>

	</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}