{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

<script>
	$( document ).ready(function() {
 	
	$('.bxslider_1').bxSlider({
	  pagerCustom: '.bx-pager_1'
	});	

});
</script>

<div class="main_image_wrapper">

	{% include 'component/header.twig' %}
	<div class="detail_main_image k2">
		<h2>管配件</h2>
	</div>

</div>

<div class="detail">

	{% include 'component/aside.twig' %}

	<div class="detail_content">
		<div class="mainphoto">
			<ul class="bxslider_1">
			  <li><img src="img/img_slider/b/b_01.jpg" /></li>
			  <li><img src="img/img_slider/b/b_02.jpg" /></li>
			  <li><img src="img/img_slider/b/b_03.jpg" /></li>
			  <li><img src="img/img_slider/b/b_04.jpg" /></li>
			  <li><img src="img/img_slider/b/b_05.jpg" /></li>
			  <li><img src="img/img_slider/b/b_06.jpg" /></li> 
			  <li><img src="img/img_slider/b/b_07.jpg" /></li>
			  <li><img src="img/img_slider/b/b_08.jpg" /></li>
			  <li><img src="img/img_slider/b/b_09.jpg" /></li>
			  <li><img src="img/img_slider/b/b_10.jpg" /></li>
			  <li><img src="img/img_slider/b/b_11.jpg" /></li>
			  <li><img src="img/img_slider/b/b_12.jpg" /></li>
			  <li><img src="img/img_slider/b/b_13.jpg" /></li>
			  <li><img src="img/img_slider/b/b_14.jpg" /></li>
		
			</ul>
		</div>
		<div class="bx-pager_1 smallbigimg">
		  <a data-slide-index="0" href=""><img src="img/img_slider/b/small_b_01.jpg" /></a>
		  <a data-slide-index="1" href=""><img src="img/img_slider/b/small_b_02.jpg" /></a>
		  <a data-slide-index="2" href=""><img src="img/img_slider/b/small_b_03.jpg" /></a>
		  <a data-slide-index="3" href=""><img src="img/img_slider/b/small_b_04.jpg" /></a>
		  <a data-slide-index="4" href=""><img src="img/img_slider/b/small_b_05.jpg" /></a>
		  <a data-slide-index="5" href=""><img src="img/img_slider/b/small_b_06.jpg" /></a>
		  <a data-slide-index="6" href=""><img src="img/img_slider/b/small_b_07.jpg" /></a>
		  <a data-slide-index="7" href=""><img src="img/img_slider/b/small_b_08.jpg" /></a>
		  <a data-slide-index="8" href=""><img src="img/img_slider/b/small_b_09.jpg" /></a>
		  <a data-slide-index="9" href=""><img src="img/img_slider/b/small_b_10.jpg" /></a>
		  <a data-slide-index="10" href=""><img src="img/img_slider/b/small_b_11.jpg" /></a>
		  <a data-slide-index="11" href=""><img src="img/img_slider/b/small_b_12.jpg" /></a>
		  <a data-slide-index="12" href=""><img src="img/img_slider/b/small_b_13.jpg" /></a>
		  <a data-slide-index="13" href=""><img src="img/img_slider/b/small_b_14.jpg" /></a>
		</div>
		

		<div class="clear" style="height: 50px"></div>


		<!-- <h6>管材</h6> -->
		<p>
			管配件：各類三通、彎頭、接頭、法蘭、焊三通、焊彎頭、立卜、墊片、迫緊、P型管夾、U型螺絲、萬向吊架、葫蘆管束、防震軟管、快速接頭、壓力表等...	
		</p>
	

	</div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}