{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}

	{% include 'component/header.twig' %}
<div class="main_image_wrapper">

	<div class="main_slider">
	    <section class="main slider">
	        <div class="new_photo">
	            <div class="text"><h6>專業的顧問式服務  <br>解決各種配管問題</h6></div>
	            
	            <img src="img/main_img_01.jpg"> 
	        </div>
	        <div class="new_photo"><img src="img/main_img_02.jpg"> </div>
	        <div class="new_photo"><img src="img/main_img_03.jpg"> </div>
	    </section>
	</div>

</div>

<div class="intro_wrapper" id="company">
<div class="intro">
	<div class="intro_left">公司介紹</div>
	<div class="intro_right">
		<p>東芫 創立于1982年，東芫為全國專業配管材料供應商之一，本公司的服務領域涵蓋公共工程、商業、住宅大樓、科技廠辦、商場百貨、各級學校、大型醫院、國際級飯店等，更包含公共工程管線設備30年以上的銷售與專業配管服務，以高品質的產品與合理的價格，回饋客戶，歡迎舊雨新知給予支持與採用。 <br>	
		本公司秉持著品質專業誠信的服務態度為廣大的客戶作最完善的服務，並期待各界的指教與批評另專業從事過濾器生産、開發和銷售，并以 EAST SOURCE 爲注冊商标。研發自動清洗過濾器、單桶過濾器、雙桶過濾器，籃式過濾器，並已獲得台灣專利與中國專利。</p>
		</div>
</div>
</div>



<div class="accordion" id="go">
	<a href="detail_a01.html" class="accordion_item solution_bg_1">
		<div class="mask c01 c01"></div>
		<div class="info">
			<img src="img/icon_4.svg" alt="">
			<h6>管材</h6>
			<div class="line"></div>
			<p>經由團隊研發的演算法，開發出智慧助理解決方案、數據決策輔助工具，以及產業趨勢預測機制</p>
		</div>
	</a>
	

	
	<a href="detail_a02.html" class="accordion_item solution_bg_2">
		<div class="mask c02"></div>
		<div class="info">
			<img src="img/icon_2.svg" alt="">
			<h6>管配件</h6>
			<div class="line"></div>
			<p>經由團隊研發的演算法，開發出智慧助理解決方案、數據決策輔助工具，以及產業趨勢預測機制</p>
		</div>
	</a>
	

	
	<a href="detail_a03.html" class="accordion_item solution_bg_3">
		<div class="mask c03"></div>
		<div class="info">
			<img src="img/icon_3.svg" alt="">
			<h6>閥門</h6>
			<div class="line"></div>
			<p>經由團隊研發的演算法，開發出智慧助理解決方案、數據決策輔助工具，以及產業趨勢預測機制</p>
		</div>
	</a>
	

	
	<a href="detail_a04.html" class="accordion_item solution_bg_4">
		<div class="mask c04"></div>
		<div class="info">
			<img src="img/icon_1.svg" alt="">
			<h6>配管五金</h6>
			<div class="line"></div>
			<p>經由團隊研發的演算法，開發出智慧助理解決方案、數據決策輔助工具，以及產業趨勢預測機制</p>
		</div>
	</a>
	


</div>












<!-- <div class="solution_wrapper solution_bg_1">
	<div class="solution content_1">
		<h2>管材</h2>
		<h5>人工智慧解決方案</h5>
		<p>運用聲音、文字、影像理解系統，結合大數據分析，打造出先進的推薦服務，此外也擁有推動開放資料與開放程式介面 (Open Data/Open API)的實務經驗</p>
	</div>
	<div class="solution content_2 gone">
		<h2>管配件</h2>
		<h5>資料科學</h5>
		<p>經由團隊研發的演算法，開發出智慧助理解決方案、數據決策輔助工具，以及產業趨勢預測機制</p>
	</div>
	<div class="solution content_3 gone">
		<h2>閥門</h2>
		<h5>平台建置與營運</h5>
		<p>累積 KKBOX 集團15年實務經驗，從業務資訊化、內容數位化、混合雲架構、資料中心上雲以及智慧監控系統...等階段性規劃，結合全方位顧問服務，助客戶達成數位轉型目標</p>
	</div>
	<div class="solution content_4 gone">
		<h2>配管五金</h2>
		<h5>內容創新研發</h5>
		<p>洞悉掌握新媒體趨勢潮流，結合團隊的網路技術力與研發能力，孵化各類新型態創意內容與 IP (Intellectual Property 智慧財產權 )</p>
	</div>
</div> -->


<!-- <div class="solution_four_wrapper">
<div class="solution_row">
		<div class="solution_item des_show_1">
			<h6>管材</h6>
			<p>我是副標我是副標</p>
			<img src="img/icon_4.svg" alt="">

			<div class="b-line"></div>
		</div>
		<div class="solution_item  des_show_2">
			<h6>管配件</h6>
			<p>我是副標我是副標</p>
			<img src="img/icon_2.svg" alt="">

			<div class="b-line"></div>
		</div>
		<div class="solution_item  des_show_3">
			<h6>閥門</h6>
			<p>我是副標我是副標</p>
			<img src="img/icon_3.svg" alt="">

			<div class="b-line"></div>
		</div>
		<div class="solution_item  des_show_4">
			<h6>配管五金</h6>
			<p>我是副標我是副標</p>
			<img src="img/icon_1.svg" alt="">

			<div class="b-line"></div>
		</div>

</div>
</div> -->





<div class="footer_wrapper">
	<div class="footer_info">
		<div class="kklab_logo">
			<img src="img/logo-w.png" alt="">
		</div>
		<div class="add">
			<h6>東芫配管股份有限公司</h6>
			<div class="l-l"></div>
		
			<p>TEL: 03-3791111</p>
			<p>FAX: 03-360644</p>
			<p>Email: tyeastsource@gmail.com</p>
			<p>桃園市桃園區文中二路55號</p>
			
		</div>
	
	</div>
</div>
<footer>Copyright © 2020 EAST source All Rights Reserved.</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
{% endblock %}