*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

.slick-dots {
  bottom: 15px !important; }

@media (min-width: 0) and (max-width: 890px) {
  .main_image_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .main_image_wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image_wrapper .main_slider .new_photo {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .main_image_wrapper .main_slider .new_photo .text {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px; }
  .main_image_wrapper .main_slider .new_photo .text h6 {
    color: #FFF;
    font-size: 20px; }
  .main_image_wrapper .main_slider .new_photo img {
    width: 100%; }
  .main_image_wrapper .detail_main_image {
    height: 300px;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 0px; }
  .main_image_wrapper .detail_main_image h2 {
    font-size: 30px;
    color: #FFF;
    font-weight: 900; } }

@media (min-width: 891px) {
  .main_image_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .main_image_wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  .main_image_wrapper .main_slider .new_photo {
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .main_image_wrapper .main_slider .new_photo .text {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px; }
  .main_image_wrapper .main_slider .new_photo .text h6 {
    color: #FFF;
    font-size: 40px;
    text-align: center; }
  .main_image_wrapper .main_slider .new_photo img {
    width: 100%; }
  .main_image_wrapper .detail_main_image {
    height: 400px;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 80px;
    padding-top: 80px; }
  .main_image_wrapper .detail_main_image h2 {
    font-size: 40px;
    color: #FFF;
    font-weight: 900; } }

@media (min-width: 0) and (max-width: 890px) {
  .main_image {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1200px;
    position: relative; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .main_image {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px;
    position: relative; }
  .main_image:after {
    content: " ";
    display: block;
    clear: both; } }

.k1 {
  background: url("../img/solution_bg_1.jpg") center; }

.k2 {
  background: url("../img/solution_bg_2.jpg") center; }

.k3 {
  background: url("../img/solution_bg_3.jpg") center; }

.k4 {
  background: url("../img/solution_bg_4.jpg") center; }

@media (min-width: 0) and (max-width: 890px) {
  .detail {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start; }
  .detail:after {
    content: " ";
    display: block;
    clear: both; }
  .detail aside {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px; }
  .detail aside ul li a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .detail aside ul li a:hover {
    transform: scale(1.05); }
  .detail aside ul li a p {
    font-size: 20px;
    padding-top: 5px;
    font-weight: 900; }
  .detail aside ul li a img {
    width: 40px;
    margin-right: 12px; }
  .detail .detail_content {
    width: 100%;
    padding: 0 0px;
    margin-bottom: 150px; }
  .detail .detail_content .mainphoto .bxslider_1 {
    width: 100%; }
  .detail .detail_content .smallbigimg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .detail .detail_content .smallbigimg a {
    width: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block; }
  .detail .detail_content .smallbigimg a img {
    display: block; }
  .detail .detail_content h6 {
    font-size: 30px;
    font-weight: 900;
    color: #891;
    margin-bottom: 20px; }
  .detail .detail_content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8; } }

@media (min-width: 891px) {
  .detail {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start; }
  .detail:after {
    content: " ";
    display: block;
    clear: both; }
  .detail aside {
    width: 20%;
    padding: 0 20px; }
  .detail aside ul li a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    line-height: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    transition: all .3s; }
  .detail aside ul li a:hover {
    transform: scale(1.05); }
  .detail aside ul li a p {
    font-size: 20px;
    padding-top: 5px;
    font-weight: 900; }
  .detail aside ul li a img {
    width: 40px;
    margin-right: 12px; }
  .detail .detail_content {
    width: 70%;
    padding: 0 0px;
    margin-bottom: 150px; }
  .detail .detail_content .mainphoto .bxslider_1 {
    width: 100%; }
  .detail .detail_content .smallbigimg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .detail .detail_content .smallbigimg a {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block; }
  .detail .detail_content .smallbigimg a img {
    display: block; }
  .detail .detail_content h6 {
    font-size: 30px;
    font-weight: 900;
    color: #891;
    margin-bottom: 20px; }
  .detail .detail_content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8; } }

@keyframes student_girl {
  0% {
    right: 0%;
    bottom: -110%; }
  70% {
    right: 0%;
    bottom: 0px; }
  80% {
    right: 0%;
    bottom: 0px; }
  100% {
    right: 0%;
    bottom: -110%; } }

@keyframes space_man_1 {
  0% {
    left: -3%;
    top: 2%; }
  45% {
    left: -10%;
    top: 15%; }
  80% {
    left: 0%;
    top: 12%; }
  100% {
    left: -3%;
    top: 2%; } }

@keyframes space_man_2 {
  0% {
    left: -4%;
    top: 8%; }
  45% {
    left: -2%;
    top: 15%; }
  75% {
    left: -8%;
    top: 12%; }
  100% {
    left: -4%;
    top: 8%; } }

@media (min-width: 0) and (max-width: 890px) {
  .intro_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    background: url("../img/bg-1.png") -300px 480px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 1000; }
  .intro_wrapper:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .intro_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    background: url("../img/bg-1.png") 100px 500px;
    background-repeat: repeat-x;
    position: relative;
    z-index: 1000; }
  .intro_wrapper:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 0) and (max-width: 890px) {
  .intro {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-repeat: no-repeat;
    padding: 0 30px; }
  .intro:after {
    content: " ";
    display: block;
    clear: both; }
  .intro .intro_left {
    width: 100%;
    color: #244B5A;
    font-size: 26px;
    font-weight: 900;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .intro .intro_right {
    width: 100%;
    margin-top: 20px; }
  .intro .intro_right p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8; } }

@media (min-width: 891px) {
  .intro {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 600px;
    background-repeat: no-repeat;
    padding: 150px 20px; }
  .intro:after {
    content: " ";
    display: block;
    clear: both; }
  .intro .intro_left {
    width: 35%;
    height: 400px;
    color: #244B5A;
    font-size: 32px;
    font-weight: 900;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .intro .intro_right {
    width: 70%; }
  .intro .intro_right p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.8; } }

@media (min-width: 0) and (max-width: 890px) {
  .accordion {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .accordion:after {
    content: " ";
    display: block;
    clear: both; }
  .accordion .accordion_item {
    display: block;
    width: 50%;
    height: 400px;
    transition: all .3s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative; }
  .accordion .accordion_item .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 0;
    transition: all .3s; }
  .accordion .accordion_item .info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: all .3s; }
  .accordion .accordion_item .info .line {
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    transition: all .3s; }
  .accordion .accordion_item .info h6 {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 10px;
    font-weight: 900; }
  .accordion .accordion_item .info p {
    font-size: 16px;
    color: #eee; }
  .accordion .accordion_item .info img {
    width: 90px; } }

@media (min-width: 891px) {
  .accordion {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .accordion:after {
    content: " ";
    display: block;
    clear: both; }
  .accordion .accordion_item {
    display: block;
    width: 25%;
    height: 700px;
    transition: all .3s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative; }
  .accordion .accordion_item:hover {
    width: 60%; }
  .accordion .accordion_item:hover .mask {
    opacity: .3; }
  .accordion .accordion_item:hover .info p {
    color: #FFF; }
  .accordion .accordion_item:hover .info .line {
    height: 2px; }
  .accordion .accordion_item .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: 0;
    transition: all .3s; }
  .accordion .accordion_item .info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: all .3s; }
  .accordion .accordion_item .info .line {
    width: 100%;
    height: 1px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    transition: all .3s; }
  .accordion .accordion_item .info h6 {
    font-size: 30px;
    color: #FFF;
    margin-bottom: 10px;
    font-weight: 900; }
  .accordion .accordion_item .info p {
    font-size: 16px;
    color: #eee; }
  .accordion .accordion_item .info img {
    width: 90px; } }

.c01 {
  background: orange; }

.c02 {
  background: pink; }

.c03 {
  background: green; }

.c04 {
  background: blue; }

.solution_bg_1 {
  background: url("../img/solution_bg_1.jpg") rgba(159, 155, 137, 0.3); }

.solution_bg_2 {
  background: url("../img/solution_bg_2.jpg") rgba(159, 155, 137, 0.3); }

.solution_bg_3 {
  background: url("../img/solution_bg_3.jpg") rgba(159, 155, 137, 0.3); }

.solution_bg_4 {
  background: url("../img/solution_bg_4.jpg") rgba(159, 155, 137, 0.3); }

@media (min-width: 0) and (max-width: 890px) {
  .solution_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 20px;
    z-index: -10; }
  .solution_wrapper:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .solution_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 50px;
    z-index: -10; }
  .solution_wrapper:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 0) and (max-width: 890px) {
  .solution {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding: 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .solution:after {
    content: " ";
    display: block;
    clear: both; }
  .solution h2 {
    font-size: 30px;
    color: #5FD0DF;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: center; }
  .solution h5 {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 20px; }
  .solution p {
    font-size: 15px;
    color: #c0c0c0;
    margin-bottom: 50px; } }

@media (min-width: 891px) {
  .solution {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .solution:after {
    content: " ";
    display: block;
    clear: both; }
  .solution h2 {
    font-size: 32px;
    color: #5FD0DF;
    margin-bottom: 20px; }
  .solution h5 {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 20px; }
  .solution p {
    font-size: 15px;
    color: #c0c0c0;
    width: 50%;
    margin-bottom: 50px; } }

.gone {
  display: none; }

.show {
  display: -ms-flexbox;
  display: flex; }

.solution_four_wrapper {
  position: relative;
  top: -140px; }

@media (min-width: 0) and (max-width: 890px) {
  .solution_row {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .solution_row:after {
    content: " ";
    display: block;
    clear: both; }
  .solution_row .solution_item {
    width: 45%;
    height: 180px;
    background: #FFF;
    padding: 18px 10px;
    margin: 0 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all .3s; }
  .solution_row .solution_item .b-line {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #5FD0DF;
    bottom: 0px; }
  .solution_row .solution_item h6 {
    font-size: 14px;
    color: #5FD0DF;
    font-weight: 900;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px; }
  .solution_row .solution_item p {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #777;
    margin-bottom: 5px; }
  .solution_row .solution_item img {
    width: 40%; } }

@media (min-width: 891px) {
  .solution_row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
  .solution_row:after {
    content: " ";
    display: block;
    clear: both; }
  .solution_row .solution_item {
    width: 23%;
    height: 260px;
    background: #FFF;
    border-radius: 6px;
    padding: 30px 20px;
    margin: 0 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .3s; }
  .solution_row .solution_item:hover {
    transform: scale(1.05); }
  .solution_row .solution_item .b-line {
    position: absolute;
    width: 100%;
    height: 8px;
    background: #5FD0DF;
    bottom: 0px; }
  .solution_row .solution_item h6 {
    font-size: 28px;
    color: #5FD0DF;
    font-weight: 900;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px; }
  .solution_row .solution_item p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #777;
    margin-bottom: 10px; }
  .solution_row .solution_item img {
    width: 40%; } }

.partner_wrapper {
  background: #F6FAFF;
  padding: 50px 20px; }

@media (min-width: 0) and (max-width: 890px) {
  .partner {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  .partner:after {
    content: " ";
    display: block;
    clear: both; }
  .partner h2 {
    font-size: 26px;
    color: #244B5A;
    font-weight: 900;
    margin-bottom: 50px; }
  .partner .logo_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .partner .logo_row img {
    display: block;
    margin-right: 100px;
    margin-bottom: 60px; } }

@media (min-width: 891px) {
  .partner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
  .partner:after {
    content: " ";
    display: block;
    clear: both; }
  .partner h2 {
    font-size: 26px;
    color: #244B5A;
    font-weight: 900;
    margin-bottom: 50px; }
  .partner .logo_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center; }
  .partner .logo_row img {
    display: block;
    margin-right: 100px;
    margin-bottom: 60px; } }

.footer_wrapper {
  background: #464646;
  padding: 80px 0; }

@media (min-width: 0) and (max-width: 890px) {
  .footer_info {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 30px; }
  .footer_info:after {
    content: " ";
    display: block;
    clear: both; }
  .footer_info .kklab_logo {
    width: 100%;
    margin-bottom: 40px; }
  .footer_info .kklab_logo img {
    width: 150px; }
  .footer_info .add {
    width: 100%;
    margin-bottom: 40px; }
  .footer_info .add h6 {
    font-size: 16px;
    color: #FFF;
    font-weight: 900;
    margin-bottom: 20px; }
  .footer_info .add a {
    color: #3ce3ec; }
  .footer_info .add p {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 25px; }
  .footer_info .add .l-l {
    width: 40px;
    height: 3px;
    background: #FFF;
    margin: 50px 0; }
  .footer_info .kk_group {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #FFF;
    padding-left: 0px; }
  .footer_info .kk_group h6 {
    margin-bottom: 30px; }
  .footer_info .kk_group img {
    display: block;
    margin-bottom: 40px; } }

@media (min-width: 891px) {
  .footer_info {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer_info:after {
    content: " ";
    display: block;
    clear: both; }
  .footer_info .kklab_logo {
    width: 30%; }
  .footer_info .kklab_logo img {
    width: 200px; }
  .footer_info .add {
    width: 35%; }
  .footer_info .add h6 {
    font-size: 20px;
    color: #FFF;
    font-weight: 900;
    margin-bottom: 20px; }
  .footer_info .add a {
    color: #3ce3ec; }
  .footer_info .add p {
    color: #FFF;
    font-size: 17px;
    margin-bottom: 10px; }
  .footer_info .add .l-l {
    width: 40px;
    height: 3px;
    background: #FFF;
    margin: 50px 0; }
  .footer_info .kk_group {
    width: 35%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #FFF;
    border-left: 1px solid #FFF;
    padding-left: 50px; }
  .footer_info .kk_group h6 {
    margin-bottom: 20px; }
  .footer_info .kk_group .log-row {
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }
  .footer_info .kk_group .log-row a {
    width: 180px;
    display: block; }
  .footer_info .kk_group .log-row a img {
    display: block; } }

footer {
  background: #464646;
  height: 80px;
  color: #888;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.5;
  color: #000; }

a {
  color: #888; }

h5 {
  font-size: 28px; }

h6 {
  font-size: 18px; }

p {
  font-size: 16px; }

.brand {
  display: inline-block;
  width: 100px;
  height: 0;
  padding-top: 25px;
  overflow: hidden;
  background-image: url("../img/logo.png"); }

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
  z-index: 2000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  top: 0; }

header .logo {
  width: 150px;
  margin-left: 80px; }

header .logo img {
  display: block; }

header .anchor ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center; }

header .anchor ul li {
  margin-left: 0px;
  height: 70px;
  padding: 0 22px;
  cursor: pointer;
  color: #999;
  font-size: 18px;
  font-weight: 900;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

header .anchor ul li:hover {
  background: #182e59;
  color: #FFF; }

header .anchor ul li a {
  display: block;
  height: 70px;
  color: #999;
  font-size: 18px;
  font-weight: 900;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all .3s; }

header .anchor ul li .drop_down {
  position: absolute;
  display: none;
  width: 150px;
  top: 70px;
  right: -10px;
  transition: all .3s;
  z-index: 3000; }

header .anchor ul li .drop_down a {
  display: block;
  width: 100%;
  height: 60px;
  color: #FFF;
  font-size: 16px;
  line-height: 1.4;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #666;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

header .anchor ul li .drop_down a:hover {
  background: rgba(23, 45, 88, 0.9); }

header .anchor ul li:hover .drop_down {
  display: block; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
