<header>
    <div class="logo"><a href="index.html"><img src="img/logo.png" alt=""></a></div>
	<div class="anchor">
		<ul>
			<li><a href="index.html">首頁</a></li>
			<li><a href="#company">公司介紹</a></li>
			<li>
				產品
				<div class="drop_down">
					<a href="detail_a01.html">管材</a>
					<a href="detail_a02.html">管配件</a>
					<a href="detail_a03.html">閥門</a>
					<a href="detail_a04.html">配管五金</a>
				</div>
			</li>
			<li><a href="#footer">聯繫我們</a></li>

		</ul>
	</div>
</header>