<header>
    <div class="logo"><a href="index.html"><img src="img/logo.png" alt=""></a></div>
	<div class="anchor">
		<ul>
			<li><a href="#company">公司介紹</a></li>
			<li><a href="#go">服務項目</a></li>
		</ul>
	</div>
</header>