<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="zh-TW">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-itunes-app" content="app-id=300915900, app-argument=https://www.kkbox.com/tw/tc/index.html">
<!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->


<meta name="keywords" content="AI,人工智慧,DATA,數據分析,IOT,雲端,上雲,SRE,數位轉型,雲端開發,平台建立,推薦系統,搭建網站">
<meta name="description" content="KKLab 科科實驗有限公司成立於 2019 年，結合豐富的雲端轉型、系統整合和基礎架構設計開發經驗，運用AI人工智慧、機器學習及大數據，研發解決方案，並持續投入新興科技，加速孵化創新應用！">
<title> 東芫 配管材料皆齊全，施工順暢找東芫 </title>
<meta property="og:type" content="website"/>
<meta property="og:title" content="KKLab 全方位數位技術領航者"/>
<meta property="og:url" content=""/>
<meta property="og:description" content="KKLab 融合產業經驗和領先技術，提供人工智慧與機器學習、雲端開發與營運、網站可靠性工程(SRE)等一站式資訊服務，幫助企業客戶，解決眼前的挑戰，同時對未來做好萬全的準備！" />
<meta property="og:image" content="https://www.kklab.com/img/og.jpg"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<!--#include virtual="/event_templates/fb_appid_meta.html" -->

<!-- <link href="/frontend_lib/bootstrap-grid/bootstrap-grid.css" rel="stylesheet" />
<link href="/css/event-component.css" rel="stylesheet" media="screen">
 -->


<!-- 套件 CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- 所有自訂的 CSS -->
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/slick-theme.css">

<link href="css/jquery.bxslider.css" rel="stylesheet" />

<link href="css/module.css" rel="stylesheet" />




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/slick.min.js"></script>

<script src="js/jquery.bxslider.min.js"></script>
<script src="js/ui.js"></script>

<script>
    $(document).on('ready', function() {
        $(".main").slick({
            dots: true,
            infinite: true,
            arrows: false,
            autoplay: true,
            adaptiveHeight: true
        })

    });

</script>

</head>
<body>

  {% block page %}{% endblock %}

<div class="footer_wrapper" id="footer">
	<div class="footer_info">
		<div class="kklab_logo">
			<img src="img/logo-w.png" alt="">
		</div>
		<div class="add">
			<h6>東芫配管股份有限公司</h6>
			<div class="l-l"></div>
		
			<p>TEL: 03-3791111</p>
			<p>FAX: 03-360644</p>
			<p>Email: tyeastsource@gmail.com</p>
			<p>桃園市桃園區文中二路55號</p>
		</div>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.0888072518737!2d121.28763191498734!3d24.997098145923744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681f0dc77d35d9%3A0x6f050652cb7920bb!2zMzMw5qGD5ZyS5biC5qGD5ZyS5Y2A5paH5Lit5LqM6LevNTXomZ8!5e0!3m2!1szh-TW!2stw!4v1601667355830!5m2!1szh-TW!2stw"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
	
	</div>
</div>
<footer>Copyright © 2020 EAST source All Rights Reserved.</footer>
  
</body>
</html>
